# Node modules
node_modules/

# Cypress videos and screenshots
cypress/videos/
cypress/screenshots/

# Ignorar relatórios de testes
cypress/reports/


# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/

# Environment variables
cypress.env.json